<div class="container">
  <div class="card">
    <button class="card-button" (click)="navigateToAppointmentList()">
      <i class="material-icons">list_alt</i>
      <span>Appointment List</span>
    </button>
  </div>
  <div class="card">
    <button class="card-button" (click)="navigateToAppointmentForm()">
      <i class="material-icons">event</i>
      <span>New Appointment</span>
    </button>
  </div>
  <div class="card">
    <button class="card-button" (click)="navigateToPatientForm()">
      <i class="material-icons">person_add</i>
      <span>New Patient</span>
    </button>
  </div>
  <div class="card">
    <button class="card-button" (click)="navigateToPatientList()">
      <i class="material-icons">person</i>
      <span>Patient List</span>
    </button>
  </div>
</div>
