<div class="container">
  <div class="card">
    <button class="card-button" (click)="navigateToAppointmentList()">
      <i class="material-icons">event</i>
      <span>Appointment List</span>
    </button>
  </div>
  <div class="card">
    <button class="card-button" (click)="navigateToAppointmentForm()">
      <i class="material-icons">add_circle</i>
      <span>New Appointment</span>
    </button>
  </div>
  <div class="card">
    <button class="card-button" (click)="navigateToPatientList()">
      <i class="material-icons">person</i>
      <span>Patient List</span>
    </button>
  </div>
</div>
